# Python virtual environments
env/
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
